<h1> Enter New Bookmark: </h1>

<form action="/bookmarks" method="post">
  <input type="text" name="title" placeholder="Title"/>
  <input type="text" name="url" placeholder="URL" />
  <input type="submit" value="add bookmark" />
</form>


<a href="http://localhost:9292/bookmarks"><input type=button value='return without saving?'></a>